body {
    padding: 40px;
    background-color: rgb(109, 15, 62);
  }
  
  .heart {
    font-size: 40px;
    color: #e4e4e4;
    user-select: none;
  }
  
  .like [type="checkbox"]:checked ~ .heart {
    animation-name: heart;
    animation-duration: .6s;
    animation-fill-mode: forwards;
  }
  
  @keyframes heart {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      color: red;
    }
  }
  
  .ripple {
    width: 85px;
    height: 85px;
    background: red;
    border-radius: 50%;
    transform: scale(0);
  }
  
  .like [type="checkbox"]:checked ~ .ripple {
    animation-name: ripple;
    animation-duration: .6s;
    animation-fill-mode: forwards;
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }